<table class="table bookingListing">
    <thead>
        <tr>
            <th><div>ID</div></th>
            {% set firstBooking = bookings|first %}
            {% for field in firstBooking.getFieldsByType('string') %}
                <th><div>{{ fieldTitles[field.getName()] }}</div></th>
            {% endfor %}
            {% for field in firstBooking.getFieldsByType('Price') %}
                <th><div>{{ fieldTitles[field.getName()] }}</div></th>
            {% endfor %}
            {% for field in firstBooking.getFieldsByType('int') %}
                <th><div>{{ fieldTitles[field.getName()] }}</div></th>
            {% endfor %}
            {% for field in firstBooking.getFieldsByType('Distance') %}
                <th><div>{{ fieldTitles[field.getName()] }}</div></th>
            {% endfor %}
            {% for field in firstBooking.getFieldsByType('bool') %}
                <th><div>{{ fieldTitles[field.getName()] }}</div></th>
            {% endfor %}
            {% for field in firstBooking.getFieldsByType('float') %}
                <th><div>{{ fieldTitles[field.getName()] }}</div></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.getId() }}</td>
                {% for field in booking.getFieldsByType('string') %}
                    <td>{{ field.getValue() }}</td>
                {% endfor %}
                {% for field in booking.getFieldsByType('Price') %}
                    <td>
                        {% if field.getValue() == constant('Price::Budget') %}
                            <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                        {% elseif field.getValue() == constant('Price::Luxury') %}
                            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                {% endfor %}
                {% for field in booking.getFieldsByType('int') %}
                    <td>{{ field.getValue() }}</td>
                {% endfor %}
                {% for field in booking.getFieldsByType('Distance') %}
                    <td>
                        {% if field.getValue() == constant('Distance::Close') %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                {% endfor %}
                {% for field in booking.getFieldsByType('bool') %}
                    <td>
                        {% if field.getValue() %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                {% endfor %}
                {% for field in booking.getFieldsByType('float') %}
                    <td>{{ field.getValue() }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>