<table class="table">
    <thead>
        <tr>
            <th><div>ID</div></th>
            {% for key,value in bookings[0].getStringValues() %}
                <th><div>{{ fieldTitels[key] }}</div></th>
            {% endfor %}
            {% for key,value in bookings[0].getPriceFields() %}
                <th><div>{{ fieldTitels[key] }}</div></th>
            {% endfor %}
            {% for key,value in bookings[0].getIntegerFields() %}
                <th><div>{{ fieldTitels[key] }}</div></th>
            {% endfor %}
            {% for key,value in bookings[0].getDistanceFields() %}
                <th><div>{{ fieldTitels[key] }}</div></th>
            {% endfor %}
            {% for key,value in bookings[0].getBooleanFields() %}
                <th><div>{{ fieldTitels[key] }}</div></th>
            {% endfor %}
            {% for key,value in bookings[0].getFloatFields() %}
                <th><div>{{ fieldTitels[key] }}</div></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.getId() }}</td>
                {% for value in booking.getStringValues() %}
                    <td>{{ value }}</td>
                {% endfor %}
                {% for value in booking.getPricefields() %}
                    <td>
                        {% if value == constant('Price::Budget') %}
                            <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                        {% elseif value == constant('Price::Luxury') %}
                            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                {% endfor %}
                {% for value in booking.getIntegerFields() %}
                    <td>{{ value }}</td>
                {% endfor %}
                {% for value in booking.getDistanceFields() %}
                    <td>
                        {% if value == constant('Distance::Close') %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                {% endfor %}
                {% for value in booking.getBooleanFields() %}
                    <td>
                        {% if value %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                {% endfor %}
                {% for value in booking.getFloatFields() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>