<table class="table bookingListing">
    <thead>
        <tr>
            <th><div>ID</div></th>
            {% set firstBooking = bookings|first %}
            {% for key,value in firstBooking.getStringFields() %}
                <th><div>{{ fieldTitles[key] }}</div></th>
            {% endfor %}
            {% for key,value in firstBooking.getPriceFields() %}
                <th><div>{{ fieldTitles[key] }}</div></th>
            {% endfor %}
            {% for key,value in firstBooking.getIntegerFields() %}
                <th><div>{{ fieldTitles[key] }}</div></th>
            {% endfor %}
            {% for key,value in firstBooking.getDistanceFields() %}
                <th><div>{{ fieldTitles[key] }}</div></th>
            {% endfor %}
            {% for key,value in firstBooking.getBooleanFields() %}
                <th><div>{{ fieldTitles[key] }}</div></th>
            {% endfor %}
            {% for key,value in firstBooking.getFloatFields() %}
                <th><div>{{ fieldTitles[key] }}</div></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.getId() }}</td>
                {% for value in booking.getStringFields() %}
                    <td>{{ value }}</td>
                {% endfor %}
                {% for value in booking.getPriceFields() %}
                    <td>
                        {% if value == constant('Price::Budget') %}
                            <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                        {% elseif value == constant('Price::Luxury') %}
                            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                {% endfor %}
                {% for value in booking.getIntegerFields() %}
                    <td>{{ value }}</td>
                {% endfor %}
                {% for value in booking.getDistanceFields() %}
                    <td>
                        {% if value == constant('Distance::Close') %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                {% endfor %}
                {% for value in booking.getBooleanFields() %}
                    <td>
                        {% if value %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                {% endfor %}
                {% for value in booking.getFloatFields() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>