{% set setSize = 1 %}

<div class="histogramsAsTable">
    {% for frequentSet in frequentSets %}
        {% if frequentSet|length %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Set size: {{ setSize }}, Set count: {{ frequentSet|length }}
                </div>

                <table class="table frequent-set">
                    <thead class="thead-default">
                        <tr>
                            <th>Fields</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in frequentSet %}
                            <tr>
                                <td>
                                    {% for fieldName, fieldValue in item|first %}
                                        {{ fieldTitles[fieldName] }}={{ fieldValue }}<br/>
                                    {% endfor %}
                                </td>
                                <td>{{ item[1] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% set setSize = setSize+1 %}
    {% endfor %}


    {% if candidates %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Set size: {{ setSize }}, Set count: {{ candidatesCount }}
            </div>

            <table class="table candidate">
                <thead class="thead-default">
                <tr>
                    <th colspan="2">Set size: {{ setSize }}, Count: {{ candidatesCount }}</th>
                </tr>
                <tr>
                    <th>Fields</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tbody>
                {% for candidate in candidates %}
                    <tr>
                        <td>
                            {% for fieldName, fieldValue in candidate|first %}
                                {{ fieldTitles[fieldName] }}={{ fieldValue }}<br/>
                            {% endfor %}
                        </td>
                        <td>{{ candidate[1] }} <img src="/img/loading.gif" alt="Loading"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>