<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{ pageName }}</title>

    <link href="/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
    <link href="/vendor/twbs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/css/result.css" rel="stylesheet">

    {#<script>
        var destinations = [
            {% set doneCountry = [] %}
            {% set doneRegion = [] %}
            {% for destination in destinations %}
                {% if destination[0] not in doneCountry %}
                    {label: '{{ destination[0] }}', country: '{{ destination[0] }}', region: '', place: '', category: 'country'},
                    {% set doneCountry = doneCountry|merge([destination[0]]) %}
                {% endif %}
                {% if destination[0]~destination[1] not in doneRegion %}
                    {label: '{{ destination[0] }} &gt; {{ destination[1] }}', country: '{{ destination[0] }}', region: '{{ destination[1] }}', place: '', category: 'region'},
                    {% set doneRegion = doneRegion|merge([destination[0]~destination[1]]) %}
                {% endif %}
                {label: '{{ destination[0] }} &gt; {{ destination[1] }} &gt; {{ destination[2] }}', country: '{{ destination[0] }}', region: '{{ destination[1] }}', place: '{{ destination[2] }}', category: 'place'},
            {% endfor %}
        ];

        var customerDestination = [
            {% set done = [] %}
            {% for destination in customerDestinations %}
            {% if destination[0] not in done %}
            {label: '{{ destination[0] }}', CUCNTRY: '{{ destination[0] }}', CUORT: '', category: 'CUCNTRY'},
            {% set done = done|merge([destination[0]]) %}
            {% endif %}
            {label: '{{ destination[0] }} &gt; {{ destination[1] }}', CUCNTRY: '{{ destination[0] }}', CUORT: '{{ destination[1] }}', category: 'CUORT'},
            {% endfor %}
        ];
</script>#}

</head>