<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{ pageName }}</title>

    <link href="/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
    <link href="/vendor/twbs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/css/result.css" rel="stylesheet">

    <script>
        var destinations = [
            {% for destination in destinations %}
                {label: '<strong>{{ destination[0] }}</strong> &gt; {{ destination[1] }} &gt; {{ destination[2] }}', value: '{{ destination[0] }}', category: 'country'},
                {label: '{{ destination[0] }} &gt; <strong>{{ destination[1] }}</strong> &gt; {{ destination[2] }}', value: '{{ destination[1] }}', category: 'region'},
                {label: '{{ destination[0] }} &gt; {{ destination[1] }} &gt; <strong>{{ destination[2] }}</strong>', value: '{{ destination[2] }}', category: 'place'},
            {% endfor %}
        ];
    </script>

</head>