<div class="histogramsAsTable">
    <h1>Results for {{ histograms.total }} records</h1>
    {% for histogram in histograms.all %}
        <table class="table table-responsive">
            <thead class="thead-default">
                <tr>
                    <th colspan="2">Set size: {{ histogram.setSize }}</th>
                </tr>
                <tr>
                    <th>Fields</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for histogramBin in sortHistogramBinsByCount(histogram.histogramBins) %}
                    <tr>
                        <td>
                            {% for fieldName, fieldValue in histogramBin.fields %}
                                {{ fieldTitles[fieldName] }}={{ fieldValue }}<br/>
                            {% endfor %}
                        </td>
                        <td>{{ histogramBin.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</div>